/* here goes the css for the main app */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.2em;
  margin: 2em 0;
}

.main {
  margin: 3em 0;
}
